body {
  background-color: SpringGreen;
}
form, input, label, select {
  padding: 5px;
  margin: 5px;
}
select, textarea, input[type="text"], input[type="email"], input[type="submit"] {
  width: 40%;
  height: 15%;
}
form {
  font-size: 1.1em;
}
input {
  font-size: 0.9em;
}
input[type="submit"] {
  font-size: 1.15em;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}
select {
  font-size: 0.9em;
  background-color: white;
}
select, input, textarea {
  border: 1px solid blue;
  border-radius: 5px;
}
img {
  height: 100px;
  width: 100px;
}
.blue {
  color: blue;
}
#fun-fact {
  color: purple;
  font-size: 90%;
}
video {
  width: 320px;
  height: 240px;
}
/*
* {
border: 1px solid red;
}
div {
box-sizing: border-box;
    width: 300px;
    height: 200px;
}
*/
html {
  box-sizing: border-box;
}
body {
  background-color: SpringGreen;
}
div {
  background-color: #00e271;
  padding: 1px 10px;
}
h1 {
  font-size: 2.1em;
}
h2 {
  font-size: 1.6em;
}
p {
  font-size: 1.1em;
}
.highlight {
  background-color: #bafff0;
}
.container {
  max-width: 960px;
  margin: 10px auto;
}
#header {
  width: 97%;
  padding-top: 1px;
  padding-bottom: 10px;
}
#navigation {
  width: 97%;
}
#content {
  width: 97%;
  border: 1px solid blue;
}
#footer {
  font-size: 0.75em;
  text-align: right;
  width: 97%;
  line-height: 0.75;
}
